body {
    margin: 0;
    overflow: hidden;
    background: #152B39;
    font-family: Courier, monospace;
    font-size: 14px;
    color:#ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction:column ;
    gap: 30px;
  }
  
  .wrapper {
    display: block;
    margin: 5em auto;
    border: 1px solid #555;
    width: 700px;
    height: 350px;
    position: relative;
  }
  p{text-align:center;}
  .label {
    height: 1em;
    padding: .3em;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    display: none;
    color:#333;
    
  }

 
